body {
    background-color: $main-color;
}

a {
    text-decoration: none;
}

.container {
    width: 57.8%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.main-title {
    @include text(Playfair Display, 36px, 42px, $main-text-color);
    @include transform;
    letter-spacing: 1px;
}

.main-text {
    @include text(PT Sans, 14px, 21px, $main-text-color);
}

.footer-title {
    @include text(Playfair Display, 24px, 28px, $main-text-color);
    padding-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
