* {
    font-family: PT Sans;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.d-flex {
    display: flex;
}

.container {
    width: 57.8%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
