.footer-top {
    @include background;
    background-image: url(images/footer-background.png);

    .container {
        @include d-flex(space-between,flex-start);
        padding: 80px 0 101px 0;
    }
}

.about {
    width: 350px;
}

.categories {
    @extend .about;

    .d-flex {
        flex-wrap: wrap;
    }

    &__link {
        @include text(PT Sans, 14px, 21px, #d0d0d0);
        padding: 10px 20px;
        background-color: $second-color;
    }

    &__link:hover {
        background-color: $hover-color;
    }

    .watches {
        margin: 0 20px 20px 0;
    }

    .bracelets {
        @extend .watches;
    }

    .belts {
        margin-bottom: 20px;
    }

    .jewerlies {
        margin-right: 20px;
    }
}

.mailing-list {
    @extend .about;

    .main-text {
        padding-bottom: 37px;
    }

    .email {
        &__input {
            @include square(58.7%, 42px);
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.4);
            border: none;
            color: #efefef;
        }

        &__input::placeholder {
            color: #efefef;
        }

        &__input:focus-visible {
            outline: none;
        }

        &__btn {
            @include text(PT Sans, 14px, 21px, $main-text-color);
            padding: 10px 20px;
            background-color: $second-color;
            border: none;
            letter-spacing: 0.05em;
        }

        &__btn:hover {
            background-color: $hover-color;
        }
    }
}

.last-line {
    background-color: $second-color;

    .container {
        @include d-flex(space-between, center);
    }

    &__text {
        @include text(PT Sans, 12px, 16px, #d0d0d0);
        padding: 17px 0;
    }

    &__text:last-child {
        text-decoration: underline;
    }
}
