.top {
    .container {
        @include d-flex(space-between, center);
        padding: 12px 0;
    }

    .info {
        &__text {
            @include text(PT Sans, 12px, 16px, $second-text-color);
        }

        &__icon {
            padding: 0 11px 0 0;
            vertical-align: sub;
        }

        &__line {
            @extend .info__text;
            padding: 0 10px;
        }
    }

    .account {
        &__link {
            @extend .info__text;
        }

        &__link:hover {
            color: $main-text-color;
        }

        &__icon {
            padding: 0 7px 0 0;
            vertical-align: sub;
        }
    }
}

.navigation {
    background-color: $second-color;
    border: 1px solid $main-color;

    .container {
        @include d-flex(space-between, center);
    }

    .menu {
        @include d-flex(center, center);

        &__list {
            margin-right: 30px;
        }

        &__link {
            @include d-flex(center, center);
            @include square(136px, 80px);
            @include text(PT Sans, 14px, 18px, $second-text-color);
            @include transform;
        }

        &__link:hover {
            background-color: $hover-color;
            color: $main-text-color;
        }

        .search {
            margin-left: 40px;
        }
    }
}
