
.hero {
    @include d-flex(center, center);
    @include background;
    min-height: 810px;
    background-image: url(images/background.png);

    .container {
        width: 38%;
        margin: 0 auto;
        text-align: center;
    }

    &__text {
        @include text(PT Sans, 16px, 24px, $main-text-color);
        @include transform;
        margin-top: 76px;
    }
}

.new {
    .season {
        width: 54.2%;
        min-height: 730px;
        padding: 93px 80px;

        .line {
            margin: 44px auto 50px;
        }

        .d-flex{
            flex-wrap: wrap;
        }
    }

    .collection {
        @include d-flex(end, center);
        @include background;
        flex-direction: column;
        width: 45.8%;
        padding: 100px 80px;
        background-image: url(images/collection.png);

        .line {
            margin: 22px auto 29px;
        }
    }
}

.collection-2018 {
    .suit {
        @include background;
        width: 45.8%;
        min-height: 600px;
        background-image: url(images/suit.png);
    }

    .collection-18 {
        @include d-flex(center, center);
        width: 54.2%;
        min-height: 600px;
        text-align: center;

        .container {
            width: 45%;
        }

        .line {
            margin: 40px auto;
        }

        .main-text {
            margin-bottom: 61px;
        }
    }
}

.new-goods {
    padding: 120px 0 150px;

    .line {
        margin: 40px auto 84px;
    }

    .d-flex {
        flex-wrap: wrap;
    }

    .goods {
        margin-right: 23px;
    }

    .goods:nth-child(-n + 4) {
        margin-bottom: 40px;
    }

    .goods:nth-child(4n) {
        margin-right: 0;
    }
}

.brands {
    padding: 60px 0 80px;

    .line {
        margin: 40px auto;
    }

    .d-flex {
        justify-content: center;
    }

    &__logo {
        margin-right: 30px;
    }

    &__logo:last-child {
        margin-right: 0;
    }
}
